
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
  text-align: center;
}
body {
  margin-top: 20px;
}

#timer {
  text-align:right;
  width:100%;
  margin-bottom: 150px;
}
.hide{
  display:none;
}